<!DOCTYPE html>
<html lang="PT-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 3</title>
</head>
<body>
    <h1><%= user %></h1>
    <form action="/submit" method="post">
        <input type="text" name="fName" id="fName" placeholder="First Name">
        <input type="text" name="lName" id="lName" placeholder="Last Name">
        <input type="submit" value="Send">
    </form>
</body>
</html>