@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: auto;
    width: 100vw;
    height: 100vh;
}

#container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
}

.white {
    background-color: antiquewhite;
}

.black {
    background-color: black;
}