<!DOCTYPE html>
<html lang="PT-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API REST</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>

    <div class="frame">
        <h1>API REST</h1>
        <a href="/search" class="btn btnA">Get</a>
        <a href="/new" class="btn btnA">Post</a>
        <a href="#" class="btn btnA">All Data</a>
    </div>
</body>
</html>