<!DOCTYPE html>
<html lang="PT-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First EJS exercise</title>
</head>
<body>
    <h1>Hey it's <%= dayType %>, <%= advice %></h1>
</body>
</html>